---
import { getCollection } from 'astro:content';
import { sortPosts } from "../utils/sortfuncions.ts"

interface Props {
}

const { } = Astro.props;

const base = import.meta.env.BASE_URL

const LIST_SIZE = 6
const TAG_SIZE = 4

const posts = await getCollection('posts')
sortPosts(posts)

//conta o número de ocorrencias de uma tag
const tags = Object.entries<number>(posts.flatMap(({ data }) => data.tags)
	.reduce((acc, curr) => { 
		return acc[curr] ? ++acc[curr] : acc[curr] = 1 , acc
	}, {} as Record<string, number>))

//ordena do maior para o menor
tags.sort(([, v1], [, v2]) => v2 - v1)
//pega as primeiras TAG_SIZE tags
const tags_no_dup = tags.map(([k,]) => k).slice(0, TAG_SIZE)

let topicPosts = [
	{
		topic: "Posts Recentes",
		link: `${base}/posts`,
		posts: posts.map(( { slug, data }) => ({link: slug, nome: data.title})).slice(0, LIST_SIZE)
	},
	...tags_no_dup.map(tag => ({
		topic: tag,
		link: `${base}/tags/${tag}`,
		posts: posts
			.filter(( { data }) => data.tags.includes(tag))
			.map(( { slug, data }) => ({link: slug, nome: data.title}))
			.slice(0, LIST_SIZE)
	}))
]

---
<nav>
	<ul class="sidebar">
		<img src=`${import.meta.env.BASE_URL}/chopper.JPG` alt="chopper vibbin'">
		<h3>Posts</h3>
		{ topicPosts.map(({ topic, link, posts }) => 
			<li>
				<a href={link}>{topic}</a>
				<ul>
					{ posts.map(({ link, nome}) => 
						<li class="item">
							<a href={`${base}/posts/${link}`}>
								{nome}
							</a>
						</li>
					)}
				</ul>
			</li>
		)}
	</ul>
</nav>
<style>
	h3 {
		margin: 1vh 0 2vh 0
	}
	ul {
		list-style: none;
	}
	a {
		color: var(--font-color);
		text-decoration: none;
		text-wrap: wrap;
	}

	a::after {
		background-color: var(--main-color);
	}
	nav {
		margin-top: 10vh;
		margin-left: 5vw;
	}
	.item{
		list-style: square;
	}
	.sidebar{
		margin: 0;
		padding: 1vw;
		overflow: auto;
		position: fixed;
		max-width: 15%;
		overflow: hidden;
		border-left: solid var(--main-color);
		border-top: solid var(--main-color);
	}
	
	/* check responsivity later */
	@media (max-width: 800px) {
		.sidebar{
			display: none;
		}
	}

</style>